.todo{
  border:1px solid rgb(76, 0, 255);
  max-width: max-content;
  padding:2em;
  font-size: 1.5em; 
  margin: 2em auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: aliceblue;
  border-radius: 10px;
}